.box{
text-align:center;
}
#screen{
padding:20px;
width:40%;
background-color:white;
border:none;
font-size:30px;
}
body{
margin: 0;
}
.container{
padding: 0;
font-size: 0;
}
.one{
padding:12px;
width:40px;
font-size:20px;
color:#7DF9FF;
background-color:#F0FFFF;
border:none;
}
.button{
padding:12px;
width:40px;;
font-size:20px;
border:none;
background-color:white;
margin-left:0px;
}
