h2{
text-align:center;
font-family: 'Ubuntu', sans-serif;
}
.button{
padding:12px;
border:1px solid black;
border-radius:20px;
width:40px;
margin-bottom:5px;

}

#screen{
padding:10px;
border:1px solid black;
border-radius:5px;
margin-bottom:5px;

}    
 .equal{
 padding:12px;
 border:1px solid black;
 border-radius:20px;
 width:40px;
 background-color:#2B60DE;
 
 }   

.button:hover,.equal:hover{
cursor:pointer;
background-color:grey;
}
.red{
padding:12px;
 border:1px solid black;
 border-radius:20px;
 width:40px;
 background-color:#F62817;
}
.box{
text-align:center;
}
body{
background: url(img.jpg);
background-size:cover;
background-repeat: no-repeat;
}
